body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-slider-thumb{
  width: 4px;
  color: #000000;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.css-1toxriw-MuiList-root-MuiMenu-list{
  padding-top: 0;
  padding-bottom: 0;
}
/* ################## */
.login{
background: linear-gradient(
  to bottom right,
  #000000 0%,
  #151414 25%,
  #252323 45%,
  #2C2A2A 65%,
  #161515 85%,
  #000000 100%
);


}
.login-box{
  background: linear-gradient(195deg, #49a3f1, #1A73E8);
}


/*  */
.blue-bg{
  height: 180px;
  color: #ffffff;
 background-repeat: no-repeat;
 background-size: cover;
}
.dashcard{
  height: 180px;
}

.icobox{
  position: absolute;
  top:-20px;
  left: 30px;
  height:90px;
   width: 90px;
   float:right;
   display:flex;
   align-items:center;
  justify-content: center; 
  border-radius:6px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

/* text field */
.transparent-textfield .MuiFilledInput-root {
  background-color: transparent;
  transition: background-color 0.3s;
}

.transparent-textfield .Mui-focused .MuiFilledInput-root,
.transparent-textfield .MuiInputLabel-shrink + .MuiFilledInput-root {
  background-color: #e3f2fd; /* Light blue when focused or shrink */
}

/* ********** Respnsive * *********  */
 /* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
 .dashcard{
  height: 100%;
}
.icobox{
  height: 40px;
  width: 40px;
}
}

/* Small devices (≥576px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .dashcard{
  height: 100%;
}

}

/* Medium devices (≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
 .dashcard{
  height: 100%;
}
}

/* Large devices (≥992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
 .dashcard{
  height: 100%;
}
}

/* Extra large devices (≥1200px) */
@media (min-width: 1200px) {
  .example {
    background-color: plum;
  }
}

